<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anggota</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

</head>
<body>
    <!-- emailAnggota = getForm('emailAdmin')
    namaAnggota = getForm('namaAdmin')
    jkAnggota = getForm('jkAdmin')
    password = getForm('password') -->

    <form action="/anggota" method="post">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Email" name="emailAnggota" id="emailAnggota">
            <label for="emailAnggota">Email</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Nama Anggota" name="namaAnggota" id="namaAnggota">
            <label for="namaAnggota">Nama</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Jenis Kelamin" name="jkAnggota" id="jkAnggota">
            <label for="jkAnggota">Jenis Kelamin</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" placeholder="Password" name="password" id="password">
            <label for="password">Password</label>
        </div>
        <button type="submit">Create</button>
    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>